# Logs
logs/
*.log

# Dependencies
node_modules/

# npm cache directory
.npm

# eslint
.eslint*

# dotenv environment variables file
.env
.env.*

# Editor directories and files
.vscode

# git
.git/
.gitignore

# Coverage reports
coverage/

# Docker
Dockerfile
.dockerignore

# Tests
test/
jest*